{% extends 'blog_base.html' %}
{% block content %}
<body>
<!--template에서 가져온 blogs는 list 형식으로 넘어온다
넘어온 데이터를 알맞게 잘라서 template에 필요한 부분부분에 뿌려주면 된다-->
<!--<div class="container"><br>
    {% for blog in blogs.all %}
    <div class="container jumbotron">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.pub_date }}</p>
        <p>{{ blog.summary }}<br><br>
            <a href="{% url 'detail' blog.id %}">...more</a>
        </p>
    </div>
{% endfor %} 
</div> -->
<div class="container">
    {% for blog in blogs.all %}
    <br>
    <div class="card border-dark mb-3" style="max-width: 75rem;">
        <div class="card-header">{{ blog.pub_date }}</div>
        <div class="card-body text-dark">
            <h3 class="card-title">{{ blog.title }}</h3>
            <p class="card-text">{{ blog.summary }}<br><br>
                <a href="{% url 'detail' blog.id %}">...more</a></p>
        </div>
    </div>
    {% endfor %}  
</div>
</body>
{% endblock %}


  


 